@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
#stack1 > * > *:hover {
    color: black;
}

/* category navbar menu */

#catNav > div {
    background-color: white;
    position: absolute;
    padding: 2%;
    align-items: flex-start;
    border: 0.1px solid #e2e8f0;
    gap: 4%;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
}

#catNav {
    width: 100%;
    /* padding: 0 15%; */
    position: relative;
    align-items: flex-start;
}

#catNav > div > div > p {
    font-weight: 500;
    margin-bottom: 10px;
    white-space: nowrap;
    font-family: "Pathway Gothic One", sans-serif;
}

#catNav > div > div:hover > p {
    text-decoration: underline black;
    text-underline-offset: 10px;
}

#catNav > div > div > p:hover,
#catNav > div > div > ul > *:hover {
    color: black;
}

#catNav > div > div > *:hover {
    cursor: pointer;
}

/* category navbar main */

#catNavMain {
    background-color: white;
    border-top: 0.1px solid #e2e8f0;
    border-bottom: 0.1px solid #e2e8f0;
}

#stack3 > * {
    transition: color 0.2s ease-in-out;
}

#stack3 > *:hover {
    color: black;
    cursor: default;
    text-decoration: underline black 2px solid;
    text-underline-offset: 80%;
}

/* navbar scrollbar */

.scroller {
    overflow-x: auto;
    scrollbar-width: 0px;
}

.scroller > p {
    white-space: nowrap;
}

/* User box */

#userBox {
    position: relative;
}

#userBox > div {
    border: 0.1px solid #e2e8f0;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
}

#userBox > div > * {
    transition: color 0.2s ease-in-out;
    border-bottom: 0.1px solid #e2e8f0;
    padding: 10px 20px 10px 20px;
    width: 100px;
}

#userBox > div > *:hover {
    color: black;
    cursor: pointer;
}

#userBox:hover > div {
    display: flex;
}

/* ------------New-CSS------------- */

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.hover-account {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-menu > ul {
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 20px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style: none;
    transition: all 0.2s ease-in-out;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-menu:hover .all-log {
    display: block;
}
.dropdown-menu:not(:hover) .all-log {
    display: none;
}
.dropdown-menu li {
    cursor: pointer;
}

.navAdmin {
    position: relative;
    display: inline-block;
}

.hover-account {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.navAdmin > ul {
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 20px;
    /* width: 240px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style: none;
    transition: all 0.2s ease-in-out;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1;
}
.navAdmin:hover .all-log {
    display: block;
}
.navAdmin:not(:hover) .all-log {
    display: none;
}
.navAdmin li {
    cursor: pointer;
}


.navCart {
    /* padding: 8px 16px; */
    cursor: pointer;
}
.navAdmin {
    /* padding: 8px 16px; */
    cursor: pointer;
}

.post-nav {
    border: 0px solid red;
    width: 100%;
    margin-top: 7.5rem;
    padding: 5px 150px;
    background-color: #17274a;
    color: #809aaa;
    font-size: 14px;
    font-family: "Visuelt Pro";
    text-align: left;
}

.post-all {
    border: 0px solid green;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-all > p {
    display: inline;
}
.post-all > a {
    padding: 0px 10px;
    color: #809aaa;
    text-decoration: underline;
}
