#up {
    height: 50px;
    width: 50px;
    padding: 10px;
    position: fixed;
    font-size: 28px;
    bottom: 10%;
    left: 93%;
    border: none;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #20a87e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#up:hover {
    cursor: pointer;
}
@media all and (min-width: 230px) and (max-width: 420px) {
    #up {
        left: 80%;
        bottom: 5%;
    }
}
@media all and (min-width: 421px) and (max-width: 3680px) {
    #up {
        left: 90%;
        bottom: 5%;
    }
}
